<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>ReviewQ Bot</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../stylesheets/styles.css" type="text/css" rel="stylesheet">
    <%#<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500' rel='stylesheet' type='text/css'>%>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
    <div class="site">
      <div class="container">
        <a href="https://www.reviewqbot.com/">
          <img src="../images/review-q small.png"></img>
          </span><span class="wordmark">ReviewQ</span>
        </a>
      </div>
    </div>
    </header>

    <section class="welcome hero">
    <div class="container">
      <div class="hello">
        <h1 class="lite">All right! Let's get started</h1>
        <p>
        1. Invite <code>@reviewq</code> to a channel<br>
        2. Say <code>@reviewq add [text]</code> to add something to your queue<br>
        3. Track your progress with <code>@reviewq list</code><br>
        <p>
      </div>

      <div class="heroimage">
        <img src="../images/app-screenshot.png" alt="Yourapp screenshot">
      </div>
    </div>
    </section>
  </body>
</html>
